---
import Layouts from "../../layouts/Layouts.astro";
//import { Debug } from "astro/components";
const { personID } = Astro.params;

export let data;

export async function getStaticPaths() {
  const url = `https://xnxgitagsngxibomplmc.supabase.co/rest/v1/KUNE?select=name,date,scene,image`;
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhueGdpdGFnc25neGlib21wbG1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkwNTMyNjcsImV4cCI6MTk5NDYyOTI2N30.AJfZquFwCqKVXMLFNHaxoi_zanrT7MVwiRwzsAfVyFU",
    },
  };
  const response = await fetch(url, options);
  data = await response.json();
  return data.map((person) => ({ params: { personID: person.id } }));
}

const dennePerson = data.find((person) => person.id == personID);
---

<!-- <Debug {dennePerson} /> -->
<Layouts title={dennePerson.id}>
  <main>
    <h2>{dennePerson.name}</h2>
    <p>{dennePerson.scene}</p>
    <img src={`../img/lineupimg${dennePerson.image}`} alt="profilbillede" />
  </main>
</Layouts>
